venv/
__pycache__/
*.pyc

.env

users.json

saved_model/model.pkl
saved_model/features.pkl
saved_model/problem.pkl
saved_model/numeric_columns.pkl
saved_model/encoder.pkl
saved_model/report.json

static/*.png

AutoML_Report.txt